/* body{
   background-image: url("./ASSETS/6116jQCSQYL.jpg");
}
h2{
  color:yellow
}
#education{color:red;}
 */

 
*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
h1{
    border: 1px solid;
    padding: 20px;
    margin: 0;
}